@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .buttons a {
        display: inline-block;
        margin: 10px;
        padding: 15px 25px;
        font-size: 1.1rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .buttons a:hover {
            background-color: #0056b3;
        }
</style>
<div>
    <div class="buttons">
        <a asp-controller="Minesweeper" asp-action="Index">Play Game</a>
    </div>
</div>